/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&family=Mulish:wght@200..1000&display=swap");

.font-inter {
  font-family: "Inter", sans-serif;
}
.font-mulish {
  font-family: "Mulish", sans-serif;
}
.bg-image {
    background-image: url(../images/bgbanner.png);
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-position: bottom;
}